body
{
    background-color: black;
}

h1{
    background-color: #249991;
}


.profile-pic {
    text-align: center;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    width: 210px;
    height: 210px;
    border: 5px solid #249991;
    overflow: hidden;
    margin: 0 auto;
    background: #fafafa;
}

.profile-pic img {
    width: 188px;
    height: 188px;
    margin-top: 6px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}